@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-track-color: #f7f7f7;
}

body {
  background-color: #f7f7f7;
}

.dark {
  background-color: #121212;
}

.dark h1,
.dark h2,
.dark h3,
.dark label,
.dark textarea,
.dark input,
.dark button {
  color: #e0e0e0;
}

.dark p {
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.profile-picture {
  background-image: url("../src/assets/profilepicture.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  animation: morph 6s infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    border-top-left-radius: 60%;
    border-top-right-radius: 40% 30%;
    border-bottom-right-radius: 30% 70%;
    border-bottom-left-radius: 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    border-top-left-radius: 30% 50%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 70% 30%;
    border-bottom-left-radius: 40% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    border-top-left-radius: 60%;
    border-top-right-radius: 40% 30%;
    border-bottom-right-radius: 30% 70%;
    border-bottom-left-radius: 70% 40%;
  }
}
